<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NineKeyPi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E282B2971E55562F0002FCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E282B2AE1E55562F0002FCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E282B2B91E55562F0002FCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
